.home {
  text-align: center;
  padding: 50px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.algo-button {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  background-color: dodgerblue;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.algo-button:hover {
  background-color: deepskyblue;
}
