.insertion-sort-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  min-height: 100vh; /* Ensure full viewport height */
  background: linear-gradient(135deg, #3e4a89, #1e2029);
  color: white;
  padding: 0 10px; /* Avoid horizontal overflow */
  margin: 0; /* Remove default margin */
  box-sizing: border-box; /* Ensure padding doesn't add to overflow */
}

.explanation {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(62, 26, 205, 0.429);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.visualization {
  background-color: rgb(19, 18, 16);
  padding: 10px;
  display: flex;
  align-items: flex-end; /* Align bars to the bottom */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%; /* Full width of the container */
  max-width: 90%; /* Limit width for large screens */
  height: 300px; /* Fixed height for visualization box */
  overflow: hidden; /* Prevent overflow */
  margin: 0 auto; /* Center the container */
}

.bars-container {
  display: flex;
  justify-content: center; /* Center bars horizontally */
  align-items: flex-end; /* Align bars to the bottom */
  width: 100%; /* Full width to fill the container */
  height: 100%; /* Take up full container height */
  gap: 5px; /* Space between bars */
  box-sizing: border-box; /* Include padding in width/height calculation */
}

.bar {
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  transition: transform 0.3s ease;
  height: 100%; /* Dynamic height based on value */
  width: calc(
    100% / 15 - 5px
  ); /* Dynamic width based on the number of bars, 15 is the max number for example */
  margin: 0 5px; /* Space between bars */
  flex-shrink: 0; /* Prevent bars from shrinking */
}

button,
.nav-button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #0a71ad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover,
.nav-button:hover {
  background-color: #3aa1eb;
  transform: scale(1.05);
}

.nav-button {
  text-decoration: none;
  display: inline-block;
}

.nav-button:active,
button:active {
  transform: scale(0.95);
}

h2 {
  color: #f2f2f2;
  font-size: 2em;
  margin-bottom: 10px;
}
